.editForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    margin-top: 5%;
    margin-left: 45%;
    margin-right: 45%;
    border: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.edit-btn {
    margin-top: 15px;
    padding: 5px;
    border-style: solid;
    color: white;
    background-color: #028858;
    font-weight: bold;
    font-size: 17px;
    font-family: "Open Sans";
}
