
.project-card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "info";

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background: white;
    text-align: center;
    border: 1px solid gray;

    transition: 0.5s ease;
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

ul {
    list-style: none;
}
.project-card-image {
    grid-area: image;
    width: 300px;
    height: 210px;
}

.project-card-info {
    grid-area: info;
    
}

.project-card-title {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.project-card-des {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-item {
    margin: 3rem 1rem;
}
