.project-form-container {
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
}

.projectForm {
    display: flex;
    flex-direction: column;
    align-items:center;

}
.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.submit-btn {
    margin-top: 15px;
    padding: 5px;
    border-style: solid;
    color: white;
    background-color: #028858;
    font-weight: bold;
    font-size: 17px;
    font-family: "Open Sans";
}
