.projectForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    margin-top: 5%;
    margin-left: 45%;
    margin-right: 45%;
    border-style: solid;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.submit-btn {
    margin-top: 15px;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    color: black;
    background-color: #00EAED;
    font-weight: bold;
    font-size: 17px;
    font-family: "Open Sans";
}
