.search-bar-div {
    display: flex;
    align-items: flex-start;
    padding: 0px 10px;
    width: 200px;
    height: 20px;
    flex-direction: column;
}

.search-bar-input{
    width: 200px;
    position: absolute;
}
.search-dropdown {
    position: absolute;
    top: 45px;
    /* z-index: 1; */
    /* background: blue; */
    /* border: 1px rgb(51, 51, 51) solid; */
    width: 208px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;

}

a[class^="results-"] {
    /* position: absolute; */
    background: white;
    border: 1px rgb(134, 131, 131) solid;
    /* width: 100%; */
}
