.category_nav_container {
    border-style: solid;

}

.category_nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

.ul {
    list-style-type: none;
}