.new-pledge-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new-pledge-title {
  font-size: 2rem;
  padding-bottom: 25px;
}

#new-pledge-image {
  max-height: 400px;
  max-width: 400px;
  padding-bottom: 25px;
}

