.funds-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funds-items {
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #006869;
}

#funds-heading {
  font-size: 1.5rem;
}

#funds-amount {
  font-size: 1rem;
}

#funds-button {
  font-size: 2rem;
}