.project-image {
    width: 818px;
    height: 430px;
}

.project-content-container {
    display: grid;
    grid-template-columns: 15% 53% 17% 15%;
    grid-template-rows: 10% auto;
    grid-template-areas:
        ". header header ."
        ". image pledge .";
    column-gap: 1rem;
    row-gap: 1rem;

}
.project-page-title {
    grid-area: header;

}
.project-image-container {
    grid-area: image;

}
.pledge-area {
    grid-area: pledge;
}
