.project-image {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.project-content-container {
    display: grid;
    grid-template-columns: 15% 53% 17% 15%;
    grid-template-rows: 10% auto auto;
    grid-template-areas:
        ". header header ."
        ". image pledge ."
        ". description description .";
    column-gap: 1rem;
    row-gap: 1rem;
    grid-column: 2/4;


}
.project-page-title {
    grid-area: header;
    text-align: center;

}
.project-image-container {
    grid-area: image;
    height: 422px;
    width: 620px;


}
.pledge-area {
    grid-area: pledge;
}
.pledge-amount {
    color: #006869;
    font-size: 28px;
    margin: 10px 0px ;
}
.description-area {
    grid-area: description;
}


.back-project-button {
    height: 46px;
    width: 304px;
    border: solid 1px;
    color: white;
    background-color: #028858;
    font-size: 15px;
    padding: 0px;
}

.back-project-button:hover{
    background-color:#015738;

}
